.nav-lists {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  background: rgb(74, 141, 138);
}

.Movie-lists {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
